<p-card [header]="id ? 'Editar dados de Pessoa' : 'Cadastro de Pessoa'">
  <form [formGroup]="contactForm" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="35" class="ui-float-label p8ud">
      <input type="text" formControlName="name" pInputText class="full-width">
      <label>Nome</label>
    </div>

    <div fxFlex="40" class="ui-float-label p8ud">
      <input type="text" formControlName="cpf" pInputText class="full-width">
      <label>CPF</label>
    </div>

    <div fxFlex="35" class="ui-float-label p8ud">
      <input type="email" formControlName="email" pInputText class="full-width">
      <label>E-mail</label>
    </div>

    <div fxFlex="40" class="ui-float-label p8ud">
      <input type="text" formControlName="birthday" pInputText class="full-width">
      <label>Data de nascimento</label>
    </div>
  </form>

  <form [formGroup]="phoneForm" fxLayout="column" (submit)="addPhone()">
    <div fxLayout="row">
      <div fxFlex="10" class="ui-float-label">
        <input type="text" formControlName="ddd" pInputText class="full-width">
        <label>DDD</label>
      </div>
      <div fxFlex="20" class="ui-float-label">
        <input type="number" formControlName="number" pInputText class="full-width">
        <label>Telefone</label>
      </div>
      <button pButton type="button" label="Adicionar" class="ui-button-raised" (click)="addPhone()"></button>
    </div>

    <div>
        <p-table [value]="phones">
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>DDD</th>
                <th>Telefone</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-phone>
              <tr>
                <td>{{phone.id}}</td>
                <td>{{phone.ddd}}</td>
                <td>{{phone.number}}</td>
                <td>DELETAR</td>
              </tr>
            </ng-template>
          </p-table>
    </div>
  </form>

  <p-footer fxLayout="row" fxLayoutAlign="start center">
    <button pButton type="button" [label]="id ? 'Atualizar' : 'Cadastrar'" class="ui-button-raised" (click)="id ? update() : create() "></button>
  </p-footer>
</p-card>
