<p-table [value]="contacts">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>CPF</th>
      <th>Idade</th>
      <th>Quantidade de Telefones</th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-contact>
    <tr class="text-center">
      <td>{{contact.id}}</td>
      <td>{{contact.name}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.cpf}}</td>
      <td>{{contact.birthday | age}}</td>
      <td>{{contact.phones | ponesQuantity}}</td>
      <td><p-button icon="pi pi-pencil"></p-button></td>
      <td><p-button icon="pi pi-trash" (click)="deleteContact(contact)"></p-button></td>
    </tr>
  </ng-template>
</p-table>
